In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

Find the length of the set it_companies

Add 'Twitter' to it_companies

Insert multiple IT companies at once to the set it_companies

Remove one of the companies from the set it_companies

What is the difference between remove and discard

In [2]:
(len(it_companies))

7

In [3]:
it_companies.add("Twitter")

In [4]:
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [10]:
it_companies.update(['Apple','Motorola','Nokia'])

In [11]:
it_companies

{'A',
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'M',
 'Microsoft',
 'Motorola',
 'N',
 'Nokia',
 'Oracle',
 'Twitter',
 'a',
 'e',
 'i',
 'k',
 'l',
 'o',
 'p',
 'r',
 't'}

In [12]:
it_companies.remove('Microsoft')

In [13]:
it_companies

{'A',
 'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'M',
 'Motorola',
 'N',
 'Nokia',
 'Oracle',
 'Twitter',
 'a',
 'e',
 'i',
 'k',
 'l',
 'o',
 'p',
 'r',
 't'}