Iterate 0 to 10 using for loop, do the same using while loop.

Iterate 10 to 0 using for loop, do the same using while loop.

In [2]:
for i in range(11):
    print(i, end=" ")
    print()

0
1
2
3
4
5
6
7
8
9
10

In [3]:
i = 0
while i <= 10:
    print(i, end=" ")
    i += 1
print()

0 1 2 3 4 5 6 7 8 9 10

In [4]:
#Write a loop that makes seven calls to print(), so we get on the output the following triangle:

  #
  ##
  ###
  ####
  #####
  ######

In [5]:
for i in range(1, 8):
    for j in range(i):
        print("#", end="")
    print()

#
##
###
####
#####
######
#######

In [8]:
#Use nested loops to create the following:

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [9]:
for i in range(8):
    for j in range(8):
        print("#", end=" ")
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

Print the following pattern:

0 x 0 = 0

1 x 1 = 1

2 x 2 = 4

3 x 3 = 9

4 x 4 = 16

5 x 5 = 25

6 x 6 = 36

7 x 7 = 49

8 x 8 = 64

9 x 9 = 81

10 x 10 = 100

In [7]:
for i in range(11):
    print(f"{i} x {i} = {i*i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [1]:
languages = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
for language in languages:
    print(language)

Python
Numpy
Pandas
Django
Flask

Use for loop to iterate from 0 to 100 and print only even numbers

In [3]:
for i in range(0,100,2):
    print(i,end=" ")
    print()

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [5]:
for i in range(1,101,2):
    print(i, end=" ")
    print()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Use for loop to iterate from 0 to 100 and print the sum of all numbers.

The sum of all numbers is 5050.

In [6]:
total_sum = 0
for i in range(101):
    total_sum += i
print("The sum of all numbers is:", total_sum)

The sum of all numbers is: 5050

Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

The sum of all evens is 2550. And the sum of all odds is 2500.

In [9]:
even_sum = 0
odd_sum = 0
for i in range(101):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i

print("The sum of all evens is:", even_sum)
print("The sum of all odds is:", odd_sum)

The sum of all evens is: 2550
The sum of all odds is: 2500